@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.Projects {
    background: linear-gradient(rgb(41, 21, 13), rgb(30,30,30), black);
    background: linear-gradient(black, rgb(17, 36, 17), black);
    color: gainsboro;
    /*height: 700px;*/
    width: 100%;
    font-family: "Exo 2", sans-serif;
}
.Projects h1 {
    font-size: 24px;
    margin: 0;
    padding: 20px 0 0 0;
}
.ProjectsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    margin:  0px auto;
    flex-wrap: wrap;
}

@media (max-width: 450px) {
    .Projects {
        height:fit-content;
    }
    .ProjectsContainer {
        width: 100%;
    }
}
