@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.Skills {
    background: linear-gradient( black, rgb(30,30,30), black );
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: "Exo 2", sans-serif;
}
.skillsSection {
    background-color: rgba(12,12,12, 0.5);
    color: white;
    padding: 20px;
    height: 170px;
    margin: 130px 10px;
    width: 150px;
    font-size: 14px;
    border-radius: 5px;
    
}
.skillsSection:hover {
    animation: secHover 0.5s ease;
    animation-fill-mode: forwards;
    transform: scaleY(10px);
}
.skillsSection h3 {
    font-size: 16px;
    color: #b3eda5;

    margin: 5px;
}
@keyframes secHover {
    from {transform: scale(1)}
    to {transform: scale(1.05)}
}

@media (max-width: 450px) {
    .Skills {
        padding-top: 250px;
        flex-wrap: wrap;
    }
    .skillsSection {
        width: 30%;
        margin: 10px;
    }
    
}

