.Project {
    height: 200px;
    width: 350px;
    background-color: rgba(240, 240, 240, 0.1);
    margin: 15px;
    border-radius: 5px;
}
.Project:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 15px #b3eda5;

}
.container {
    display: flex;
    justify-content: space-around;
}
.descContainer p {
    font-size: 14px;
    margin: 0;
    padding: 5px;
}
