@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.MainBg {
    height: 500px;
    width: 100%;
    background-image: url('../../assets/forest4.jpg');
    background-position-x: -20px;
    background-position-y: -15px;
    background-size: 105% 105%;
    color: #b3eda5;
    font-family: 'Exo 2', sans-serif;
    /* border-bottom-right-radius: 25%; */
}
.MainBg .covering {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.MainBg h1 {
    z-index: 0; 
    text-shadow: 1px 1px 1px black;
    /*text-shadow: 0 0 10px #b3eda5;*/
    font-size: 50px;
    padding-top: 140px;
    margin: 0;
}
.MainBg h4 {
    color: gainsboro;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    margin: 10px;
    padding: 0;
}
button {
    color: gainsboro;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid gainsboro;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 80px;
    cursor: pointer;
}
button:hover {
    color: #b3eda5;
    border-color: #b3eda5;
    /*background-color: rgba(0,0,0,0.5);*/
    transform: scale(1.1);
}
button:focus {
    outline: none;
}

@media (max-width: 450px) {
    .MainBg {
        height: 350px;
    }
    .MainBg h1 {
        padding-top: 80px;
    }
}