@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.Footer {
    width: 100%;
    height: 150px;
    background: linear-gradient( rgb(71, 70, 70), black);
    color: gainsboro;
    font-family: 'Exo 2', sans-serif;
    display: flex;
    justify-content: space-around;
}

.left {
    display: flex;
    margin: 80px 0px 0 0;
    border-top: 1px solid #b3eda5;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
.left a {
    margin: 10px;
    color: #b3eda5;
    text-decoration: none;
}
.right {
    color: #b3eda5;
    font-weight: bold;
    margin: 80px 0 0 0px;
    border-top: 1px solid #b3eda5;
    padding: 15px;
}
.right p {
    padding-top: 0;
    margin-top: 5px;
}